@font-face{
    font-family: Syncopate;
    src: url(https://fonts.googleapis.com/css2?family=Syncopate);
}

:root{
    font-family: Syncopate;
    font-weight:lighter;
    --text-primary: #ffffff;
    --text-secondary: #000000;
    --bg-primary: #080A17;
    --bg-secondary: #021737;
    --transition-speed: 600ms;
}

body{
    background-color: ;#080A17;
}